{% extends '_layouts/base.njk' %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block page_description %}{{ book.title }} by {{ book.author }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      {% block info %}
        <img src="img/members/{{member.imagebw}}" alt="" class="img-fluid">
        <p>Instruments: {{ member.instruments }}</p>
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block blurb %}
        <h1>{{ member.name }}</h1>
        <h2>Birthdate: {{ member.birthdate }}</h2>
        <h3>Birthplace: {{ member.birthplace }}</h3>
        <p>{{ member.text|safe }}</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
