{% extends '_layouts/base.njk' %}

{% block page_title %}Tour{% endblock %}

{% block page_description %}Queen's 2020 Tour Dates{% endblock %}

{% block content %}
<div class="container">
  <h2>2020 World Tour</h2>          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>City</th>
        <th>Date</th>
        <th>Venue</th>
      </tr>
    </thead>
    <tbody>
    {% for tourdate in tour.tourdates %}
      <tr>
        <td>{{tourdate.city}}</td>
        <td>{{tourdate.date}}</td>
        <td>{{tourdate.venue}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}