.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
  border-radius: 0px;
}

.jumbotron {
  margin-bottom: 30px;
}