/* nav */

.navbar {
  margin-bottom: 0px;

  #brand-image {
    height: 25px;
  }

  .nav-link {
    font-family: 'Rock Salt', cursive;
  }

  .nav-item{
    font-family: 'Merriweather', serif;
  }
}